# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env/

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# macOS resource forks
._*

# Byte-compiled / optimized / DLL files
*.pyc
*.pyd
*.pyo
*.pyd